header {
    background-color: #2c2c2c;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--light-primary);
    transition: border-bottom-color 0.5s ease, background-color 0.5s ease;
  }
  
  body.dark-mode header {
    border-bottom-color: var(--dark-primary);
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  .logo-image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    transition: transform 0.3s ease-in-out;
  }
  
  .nav-links li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
  }

  .nav-links li a:not(.download-cv-button)::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--light-primary);
    transition: width 0.3s ease-in-out;
  }

  .nav-links li a:not(.download-cv-button):hover::after {
    width: 100%;
  }
  
  .nav-links li a:hover {
    color: var(--light-primary);
    transform: translateY(10px);
  }
  
  body.dark-mode .nav-links li a:hover {
    color: var(--dark-primary);
    transform: translateY(10px);
  }

  body.dark-mode .nav-links li a::after {
    background-color: var(--dark-primary);
  }
  
  #themeToggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s;
  }
  
  .header-line {
    border: none;
    height: 3px;
    background-color: var(--light-primary);
    margin: 0;
    transition: background-color 0.5s ease;
  }
  
  body.dark-mode .header-line {
    background-color: var(--dark-primary);
  }
  
  .download-cv-button {
    background-color: var(--light-primary);
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .download-cv-button:hover {
    background-color: var(--light-primary-hover);
    color: black;
  }
  
  body.dark-mode .download-cv-button {
    background-color: var(--dark-primary);
    color: black;
  }
  
  body.dark-mode .download-cv-button:hover {
    background-color: var(--dark-primary-hover);
    color: black;
  }
  
  .nav-links .download-cv-button {
    color: black !important;
  }
  
  /* Apply styles when the menu is open */
  .menu-open .download-cv-button {
    display: inline-block;
    width: auto;
    text-align: center;
  }
  
  /* Hamburger menu styles */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  
  .nav-links.open {
    transform: translateX(0);
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      gap: 15px;
    }
    
    .menu-toggle {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #2c2c2c;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      padding: 20px;
      transform: translateX(100%);
      width: 200px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .nav-links.open {
      transform: translateX(0);
    }
  }
  
section {
  scroll-margin-top: 105px;
}